{erl_opts, [
    debug_info,
    % warnings_as_errors,
    % warn_missing_spec,
    warn_untyped_record
]}.
{deps, [
    {gun, {git, "https://github.com/ninenines/gun.git", {tag, "1.0.0-pre.3"}}},
    {recon, {git, "https://github.com/ferd/recon.git", {tag, "2.3.2"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
    {jiffy_v, {git, "https://github.com/shizzard/jiffy-v.git", {tag, "0.5.0"}}},
    {cloak, {git, "https://github.com/shizzard/cloak.git", {tag, "0.1.0"}}}
]}.

{relx, [
    {
        release, {marvin, "0.1.0"}, [
            marvin_config, marvin_log, marvin_helper, marvin_pdu, marvin_pdu2, marvin,
            lager, cowlib, ranch, gun,
            jiffy, jiffy_v,
            recon
        ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
