{plugins, [rebar3_proper]}.

{erl_opts, [
    warnings_as_errors,
    % warn_missing_spec,
    warn_untyped_record
]}.

{deps, [
    {gun, {git, "https://github.com/ninenines/gun.git", {tag, "1.0.0-pre.3"}}},
    {recon, {git, "https://github.com/ferd/recon.git", {tag, "2.3.2"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
    {cloak, {git, "https://github.com/shizzard/cloak.git", {tag, "0.4.0"}}},
    {prometheus, {git, "https://github.com/deadtrickster/prometheus.erl.git", {tag, "v4.1.0"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.2.2"}}}
]}.

{dialyzer, [
    {warnings, [no_return , no_unused]},
    {get_warnings, true},
    %{plt_apps, all_deps},
    {plt_extra_apps, []},
    {plt_location, local},
    {plt_prefix, "plt"},
    {base_plt_apps,  []},
    {base_plt_location, './.plt' },
    {base_plt_prefix, "plt"}
]}.

{relx, [
    {
        release, {marvin, {semver, ""}}, [
            marvin_config, marvin_log, marvin_helper, marvin_metrics, marvin_pdu2, marvin_pdu3, marvin,
            lager, cowboy, cowlib, ranch, gun, jiffy, inets, jesse, rfc3339, recon, prometheus
        ]
    },

    {dev_mode, true},
    {include_src, false},
    {include_erts, false},

    {overlay, [
        {template, "./config/sys.config", "{{output_dir}}/releases/{{release_version}}/sys.config"},
        {template, "./config/vm.args", "{{output_dir}}/releases/{{release_version}}/vm.args"}
    ]},

    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false}
        ]},
        {erl_opts, [
            no_debug_info
        ]}
    ]},
    {test, [
        {deps, [{proper, "1.2.0"}]},
        {erl_opts, [
            debug_info
        ]},
        {overrides, [
            {override, cloak, [
                {erl_opts, [
                    {d, 'cloak_dump', "temp"},
                    {d, 'cloak_suppress_logging', true}
                ]}
            ]}
        ]}
    ]}
]}.
