{erl_opts, [
    warnings_as_errors,
    % warn_missing_spec,
    warn_untyped_record
]}.

{deps, [
    {gun, {git, "https://github.com/ninenines/gun.git", {tag, "1.0.0-pre.3"}}},
    {hackney, {git, "https://github.com/benoitc/hackney.git", {tag, "1.12.1"}}},
    {recon, {git, "https://github.com/ferd/recon.git", {tag, "2.3.2"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
    {cloak, {git, "https://github.com/shizzard/cloak.git", {tag, "0.4.0"}}},
    {prometheus, {git, "https://github.com/deadtrickster/prometheus.erl.git", {tag, "v4.1.0"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.2.2"}}},
    {erlbus, {git, "https://github.com/cabol/erlbus.git", {tag, "v0.2.1"}}},
    {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v1.7.3"}}},
    {mongodb, {git, "https://github.com/comtihon/mongodb-erlang.git", {tag, "v3.2.0"}}}
]}.

{dialyzer, [
    {warnings, [no_return , no_unused]},
    {get_warnings, true},
    %{plt_apps, all_deps},
    {plt_extra_apps, []},
    {plt_location, local},
    {plt_prefix, "plt"},
    {base_plt_apps,  []},
    {base_plt_location, './.plt' },
    {base_plt_prefix, "plt"}
]}.

{relx, [
    {
        release, {marvin, {semver, ""}}, [
            %% dependencies
            lager, cowboy, cowlib, ranch, gun, hackney, jiffy, recon, prometheus, ebus, uuid, crypto, mongodb,
            observer, wx, runtime_tools,
            %% project applications
            marvin_config, marvin_log, marvin_helper, marvin_metrics, marvin_storage,
            marvin_dialogflow, marvin_rest, marvin_pdu2, marvin_plugin, marvin
        ]
    },

    {dev_mode, true},
    {include_src, false},
    {include_erts, false},

    {overlay, [
        {template, "./config/sys.config", "{{output_dir}}/releases/{{release_version}}/sys.config"},
        {template, "./config/vm.args", "{{output_dir}}/releases/{{release_version}}/vm.args"}
    ]},

    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false}
        ]},
        {erl_opts, [
            no_debug_info
        ]}
    ]},
    {test, [
        {deps, [{proper, {git, "https://github.com/manopapad/proper.git", {ref, "5f0d69c831b6c9f52535c3d1846efca480f6190d"}}}]},
        {erl_opts, [
            debug_info
        ]},
        {overrides, [
            {override, cloak, [
                {erl_opts, [
                    {d, 'cloak_dump', "temp"},
                    {d, 'cloak_suppress_logging', true}
                ]}
            ]}
        ]}
    ]}
]}.
