[
    {marvin, [
    ]},
    {lager, [
        {log_root, "log/"},
        {handlers, [
            {lager_file_backend, [{file, "debug.log"}, {level, debug}]},
            {lager_file_backend, [{file, "info.log"}, {level, info}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]}
        ]}
    ]},
    {sasl, [
        {utc_log, true},
        {sasl_error_logger, false}
    ]}
].
