[
    {marvin, [
        {discord, [
            {token, <<"${MARVIN_APP_ACCESS_TOKEN}">>},
            {api, [
                {host, "${MARVIN_APP_API_HOST}"},
                {port, "${MARVIN_APP_API_PORT}"},
                {root_url, "${MARVIN_APP_API_ROOT_URL}"},
                {gateway_url, "${MARVIN_APP_API_GATEWAY_URL}"}
            ]},
            {gateway, [
                {port, "${MARVIN_APP_GATEWAY_PORT}"},
                {protocol_version, "${MARVIN_APP_GATEWAY_PROTOVER}"},
                {compress, "${MARVIN_APP_GATEWAY_COMPRESS}"},
                {large_threshold, "${MARVIN_APP_GATEWAY_LARGE_THRESHOLD}"}
            ]}
        ]},
        {gpt, [
            {token, <<"${MARVIN_APP_OPENAI_ACCESS_TOKEN}">>},
            {model, <<"${MARVIN_APP_OPENAI_MODEL}">>},
            {api, [
                {host, "${MARVIN_APP_OPENAI_HOST}"},
                {port, "${MARVIN_APP_OPENAI_PORT}"},
                {root_url, "${MARVIN_APP_OPENAI_ROOT_URL}"}
            ]}
        ]},
        {system_info, [
            {library_name, <<"${MARVIN_APP_SYSINFO_LIBRARY_NAME}">>},
            {library_version, <<"0.8.5.0">>},
            {library_web, <<"${MARVIN_APP_SYSINFO_LIBRARY_WEB}">>}
        ]},
        {guild, [
            {config_root, <<"${MARVIN_APP_GUILD_CONFIG_ROOT}">>},
            {config_filename_template, <<"${MARVIN_APP_GUILD_CONFIG_FILENAME_TEMPLATE}">>}
        ]},
        {plugin, [
            {config_root, <<"${MARVIN_APP_PLUGIN_CONFIG_ROOT}">>},
            {config_filename_template, <<"${MARVIN_APP_PLUGIN_CONFIG_FILENAME_TEMPLATE}">>}
        ]},
        {db, [
            {pool_size, "${MARVIN_STORAGE_DB_POOL_SIZE}"},
            {pool_overflow, "${MARVIN_STORAGE_DB_POOL_OVERFLOW}"},
            {name, <<"${MARVIN_STORAGE_DB_NAME}">>},
            {host, "${MARVIN_STORAGE_DB_HOST}"},
            {port, "${MARVIN_STORAGE_DB_PORT}"}
        ]},
        {debug, [
            {dump_root, "${MARVIN_APP_LOGGER_LOG_ROOT}"}
        ]}
    ]},
    {kernel, [
        {logger_sasl_compatible, false},
        {logger_level, ${MARVIN_APP_LOGGER_LOG_LEVEL}},
        {logger, [
            %% Console logger
            {handler, default, logger_std_h, #{
                level => emergency,
                formatter => {marvin_log_f, #{
                    map_depth => 5,
                    term_depth => 50
                }}
            }},
            %% Disk logger for errors
            {handler, disk_error, logger_disk_log_h, #{
                level => error,
                formatter => {marvin_log_f, #{
                    map_depth => 5,
                    term_depth => 50
                }},
                config => #{
                    file => "${MARVIN_APP_LOGGER_LOG_ROOT}/lgr_error.log",
                    type => wrap,
                    max_no_files => 10,
                    max_no_bytes => 52428800 % 10 x 5mb
                }
            }},
            %% Disk logger for info
            {handler, disk_info, logger_disk_log_h, #{
                level => info,
                formatter => {marvin_log_f, #{
                    map_depth => 5,
                    term_depth => 50
                }},
                config => #{
                    file => "${MARVIN_APP_LOGGER_LOG_ROOT}/lgr_info.log",
                    type => wrap,
                    max_no_files => 10,
                    max_no_bytes => 52428800 % 10 x 5mb
                }
            }},
            %% Disk logger for info
            {handler, disk_debug, logger_disk_log_h, #{
                level => debug,
                formatter => {marvin_log_f, #{
                    map_depth => 5,
                    term_depth => 50
                }},
                config => #{
                    file => "${MARVIN_APP_LOGGER_LOG_ROOT}/lgr_debug.log",
                    type => wrap,
                    max_no_files => 10,
                    max_no_bytes => 52428800 % 10 x 5mb
                }
            }}
        ]}
    ]},
    {sasl, [
        {utc_log, true},
        {sasl_error_logger, false}
    ]}
].
