[
    {marvin, [
        {discord, [
            {token, <<"Mjc5MjMxMDk4MDgzNjA2NTI5.DD7zwQ.nQzzUG_elj4kcZ3lYT1ecjL-QQk">>},
            {api, [
                {host, "discordapp.com"},
                {port, 443},
                {root_url, "/api"},
                {gateway_url, "/gateway/bot"}
            ]},
            {gateway, [
                {port, 443},
                {protocol_version, "6"},
                {compress, true},
                {large_threshold, 50}
            ]}
        ]},
        {system_info, [
            {library_name, <<"Marvin">>},
            {library_version, <<"0.2.0">>},
            {library_web, <<"http://shizzard.github.io/marvin">>}
        ]}
    ]},
    {lager, [
        {log_root, "log/"},
        {handlers, [
            {lager_file_backend, [{file, "debug.log"}, {level, debug}]},
            {lager_file_backend, [{file, "info.log"}, {level, info}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]}
        ]}
    ]},
    {sasl, [
        {utc_log, true},
        {sasl_error_logger, false}
    ]}
].
